Repository MortenBeck/guess-the-worth: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

stage 8 complete
  backend/routers/artworks.py
  backend/routers/bids.py
  backend/routers/users.py
  backend/utils/errors.py
  frontend/src/components/ErrorMessage.jsx
  frontend/src/main.jsx
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/services/api.js
Due: backend, frontend

stage 9 implemented
  backend/database.py
  backend/routers/artworks.py
  backend/routers/bids.py
  backend/schemas/artwork.py
  frontend/src/App.jsx
  frontend/src/components/home/LiveAuctions.jsx
  frontend/src/main.jsx
Due: backend, frontend

implemented stage 10
  backend/tests/integration/test_auth_fixes.py
  backend/tests/integration/test_image_upload.py
  backend/tests/integration/test_migrations.py
  backend/tests/integration/test_stats.py
  backend/tests/integration/test_websocket.py
Due: none

frontend fixes
  frontend/test-results/.last-run.json
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-4b9e9-uld-work-from-artworks-page-chromium/error-context.md
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-4b9e9-uld-work-from-artworks-page-chromium/test-failed-1.png
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-6beeb--role-should-be-implemented-chromium/error-context.md
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-6beeb--role-should-be-implemented-chromium/test-failed-1.png
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-72555-tion-items-for-public-users-chromium/error-context.md
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-72555-tion-items-for-public-users-chromium/test-failed-1.png
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-7dc9f-styling-on-navigation-links-chromium/error-context.md
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-7dc9f-styling-on-navigation-links-chromium/test-failed-1.png
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-a8e1e-uld-work-from-artworks-page-chromium/error-context.md
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-a8e1e-uld-work-from-artworks-page-chromium/test-failed-1.png
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-ce22f-n-should-route-to-dashboard-chromium/error-context.md
  frontend/test-results/bug-6.1-navbar-Bug-6-1-Nav-ce22f-n-should-route-to-dashboard-chromium/test-failed-1.png
  frontend/test-results/bug-6.2-auth-persistence-B-2983e-ck-in-infinite-loading-loop-chromium/error-context.md
  frontend/test-results/bug-6.2-auth-persistence-B-2983e-ck-in-infinite-loading-loop-chromium/test-failed-1.png
  frontend/test-results/bug-6.2-auth-persistence-B-83e11-ilure-without-infinite-loop-chromium/error-context.md
  frontend/test-results/bug-6.2-auth-persistence-B-83e11-ilure-without-infinite-loop-chromium/test-failed-1.png
  frontend/test-results/bug-6.2-auth-persistence-B-e0d0a-lStorage-and-load-correctly-chromium/error-context.md
  frontend/test-results/bug-6.2-auth-persistence-B-e0d0a-lStorage-and-load-correctly-chromium/test-failed-1.png
  frontend/test-results/bug-6.3-view-details-Bug-6-27538-s-should-trigger-navigation-chromium/error-context.md
  frontend/test-results/bug-6.3-view-details-Bug-6-27538-s-should-trigger-navigation-chromium/test-failed-1.png
  frontend/test-results/bug-6.3-view-details-Bug-6-44b7e-ge-should-load-successfully-chromium/error-context.md
  frontend/test-results/bug-6.3-view-details-Bug-6-44b7e-ge-should-load-successfully-chromium/test-failed-1.png
  frontend/test-results/bug-6.3-view-details-Bug-6-52ed3-ould-exist-on-artwork-cards-chromium/error-context.md
  frontend/test-results/bug-6.3-view-details-Bug-6-52ed3-ould-exist-on-artwork-cards-chromium/test-failed-1.png
  frontend/test-results/bug-6.3-view-details-Bug-6-7b8e3-to-all-view-details-buttons-chromium/error-context.md
  frontend/test-results/bug-6.3-view-details-Bug-6-7b8e3-to-all-view-details-buttons-chromium/test-failed-1.png
  frontend/test-results/bug-6.3-view-details-Bug-6-f9e3e-should-have-onClick-handler-chromium/error-context.md
  frontend/test-results/bug-6.3-view-details-Bug-6-f9e3e-should-have-onClick-handler-chromium/test-failed-1.png
  frontend/test-results/bug-6.4-dashboard-activity-01ca7-ld-be-visible-and-clickable-chromium/error-context.md
  frontend/test-results/bug-6.4-dashboard-activity-01ca7-ld-be-visible-and-clickable-chromium/test-failed-1.png
  frontend/test-results/bug-6.4-dashboard-activity-1153b-ctivity-button-should-exist-chromium/error-context.md
  frontend/test-results/bug-6.4-dashboard-activity-1153b-ctivity-button-should-exist-chromium/test-failed-1.png
  frontend/test-results/bug-6.4-dashboard-activity-4aa1e-oad-for-authenticated-users-chromium/error-context.md
  frontend/test-results/bug-6.4-dashboard-activity-4aa1e-oad-for-authenticated-users-chromium/test-failed-1.png
  frontend/test-results/bug-6.4-dashboard-activity-b061d-uld-trigger-onClick-handler-chromium/error-context.md
  frontend/test-results/bug-6.4-dashboard-activity-b061d-uld-trigger-onClick-handler-chromium/test-failed-1.png
  frontend/test-results/bug-6.4-dashboard-activity-f4db2-uld-display-mock-activities-chromium/test-failed-1.png
Due: frontend

feat(stage-0): critical configuration and security fixes
  backend/.gitignore
  backend/routers/stats.py
  backend/tests/integration/test_stats.py
  frontend/.gitignore
  frontend/src/components/home/QuickStats.jsx
  frontend/src/pages/ProfilePage.jsx
  frontend/src/pages/UserDashboard.jsx
Due: backend, frontend

stage 0 implemented
  FINAL_IMPLEMENTATION.md
Due: none

feat(stage-1): testing infrastructure and coverage enforcement
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  backend/.coveragerc
  backend/pytest.ini
  frontend/package.json
  frontend/vitest.config.js
Due: backend, frontend

implementation of stage 2 done
  backend/backend/middleware/__init__.py
  backend/main.py
  backend/middleware/rate_limit.py
  backend/middleware/security_headers.py
  backend/models/__init__.py
  backend/models/audit_log.py
  backend/requirements.txt
  backend/routers/artworks.py
  backend/routers/auth.py
  backend/routers/bids.py
  backend/services/audit_service.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_rate_limiting.py
Due: backend

stage 3 implemented
  frontend/src/test/setup.js
  frontend/src/test/unit/ErrorMessage.test.jsx
  frontend/src/test/unit/format.test.js
  frontend/src/test/utils.jsx
  frontend/src/utils/format.js
Due: frontend

stage 4 implemented
  backend/main.py
  backend/routers/admin.py
  backend/tests/integration/test_admin_api.py
Due: backend

stage 5 implemented
  frontend/src/App.jsx
  frontend/src/components/AdminRoute.jsx
  frontend/src/components/StatCard.jsx
  frontend/src/pages/AdminDashboard.jsx
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/src/services/adminApi.js
Due: frontend

stage 6 implemented
  .github/workflows/backend-ci.yml
  backend/.gitignore
  backend/docs/MIGRATIONS.md
  backend/scripts/backup_database.sh
  backend/scripts/backup_database_docker.sh
  backend/scripts/test_migrations.sh
Due: backend

stage 7 implemented
  DEPLOYMENT_CHECKLIST.md
  KNOWN_ISSUES.md
  README.md
  backend/tests/e2e/test_complete_flow.py
Due: none

thorough implementation plan complete - TEST_FIX_PLAN.md descibes testing left
  ANALYSIS_SUMMARY.md
  DEPLOYMENT_CHECKLIST.md
  DOCUMENTATION_VERIFICATION.md
  FINAL_IMPLEMENTATION.md
  IMPLEMENTATION_PLAN.md
  KNOWN_ISSUES.md
  TESTING_SUMMARY.md
  TEST_FIX_PLAN.md
  backend/RUN_TESTS.md
  backend/TESTING_QUICKSTART.md
  backend/docs/MIGRATIONS.md
  backend/routers/bids.py
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/integration/test_bids_api.py.bak
  backend/tests/integration/test_users_api.py
  backend/tests/integration/test_websocket.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_schemas.py
Due: backend

Fix: black gh action
  backend/middleware/rate_limit.py
  backend/middleware/security_headers.py
  backend/models/audit_log.py
  backend/routers/admin.py
  backend/routers/artworks.py
  backend/routers/bids.py
  backend/routers/stats.py
  backend/routers/users.py
  backend/schemas/artwork.py
  backend/services/auction_service.py
  backend/services/audit_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_auth_fixes.py
  backend/tests/integration/test_bids_api.py
  backend/tests/integration/test_image_upload.py
  backend/tests/integration/test_migrations.py
  backend/tests/integration/test_rate_limiting.py
  backend/tests/integration/test_stats.py
Due: backend

Ran gh actions locally and fixed issues, most should pass now
  backend/alembic/versions/b2d54a525fd0_add_artist_name_category_end_date_to_.py
  backend/config/settings.py
  backend/main.py
  backend/middleware/rate_limit.py
  backend/middleware/security_headers.py
  backend/models/audit_log.py
  backend/routers/admin.py
  backend/routers/artworks.py
  backend/routers/auth.py
  backend/routers/bids.py
  backend/routers/stats.py
  backend/services/auction_service.py
  backend/services/audit_service.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_auth_fixes.py
  backend/tests/integration/test_bids_api.py
  backend/tests/integration/test_image_upload.py
  backend/tests/integration/test_rate_limiting.py
  backend/tests/integration/test_stats.py
Due: backend

fixed ESLint errors
  frontend/e2e/bug-6.2-auth-persistence.spec.js
  frontend/e2e/navbar.spec.js
  frontend/eslint.config.js
  frontend/src/pages/AddArtworkPage.jsx
Due: frontend

fixed prittier issues
  frontend/src/components/AdminRoute.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ImageUpload.jsx
  frontend/src/components/StatCard.jsx
  frontend/src/components/home/ActivityFeed.jsx
  frontend/src/components/home/LiveAuctions.jsx
  frontend/src/components/home/QuickStats.jsx
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/pages/AdminDashboard.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/ArtworksPage.jsx
  frontend/src/pages/ProfilePage.jsx
  frontend/src/pages/SellerDashboard.jsx
  frontend/src/pages/UserDashboard.jsx
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/src/services/adminApi.js
  frontend/src/services/api.js
  frontend/src/test/setup.js
  frontend/src/test/unit/ErrorMessage.test.jsx
  frontend/src/test/unit/format.test.js
  frontend/src/test/utils.jsx
  frontend/src/utils/format.js
Due: frontend

frontend tests action should succeed now
  frontend/src/test/unit/apiServices.test.js
Due: none

another attempt at frontend tests pass
  frontend/src/test/setup.js
  frontend/src/test/unit/ErrorMessage.test.jsx
  frontend/vitest.config.js
Due: frontend

frontend build gh action should succeed now
  frontend/src/hooks/useRealtimeBids.js
Due: frontend

frontend build attempt
  frontend/src/App.jsx
  frontend/src/components/ImageUpload.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/hooks/useRealtimeBids.js
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/ProfilePage.jsx
Due: frontend

backend tests pass attempt
  .github/workflows/backend-ci.yml
Due: none

attempt 2 at backend tests pass
  backend/tests/integration/test_auth_api.py
  backend/tests/integration/test_auth_fixes.py
  backend/tests/integration/test_image_upload.py
  backend/tests/integration/test_rate_limiting.py
  backend/tests/integration/test_stats.py
  backend/utils/auth.py
Due: backend

attempt 3
  backend/tests/e2e/test_complete_flow.py
  backend/tests/integration/test_artworks_api.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_auth_fixes.py
Due: none

attempt 4
  backend/tests/e2e/e2e_test_helper.py
  backend/tests/e2e/test_complete_flow.py
  backend/tests/integration/test_artworks_api.py
  backend/tests/integration/test_audit_logging.py
Due: none

frontend docker build pass attempt 1
  frontend/Dockerfile
Due: frontend

codecov pass attempt 1
  backend/tests/integration/test_audit_logging.py
  backend/tests/unit/test_auction_service.py
  backend/tests/unit/test_errors.py
Due: none

codecov pass attempt 2
  backend/tests/integration/test_artworks_api.py
  backend/tests/integration/test_bids_api.py
  backend/tests/unit/test_models.py
Due: none

codecov pass attempt 3
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_artworks_api.py
  backend/tests/integration/test_users_api.py
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/src/test/unit/ErrorMessage.test.jsx
  frontend/src/test/unit/apiServices.test.js
Due: none

frontend tests pass attempt 1
  .github/workflows/frontend-ci.yml
Due: none

frontend tests pass attempt 2
  .github/workflows/frontend-ci.yml
  frontend/coverage/coverage-final.json
  frontend/coverage/index.html
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov.info
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/vitest.config.js
Due: frontend

first attempt at migration rollback test gh action fail
  backend/alembic/versions/b2d54a525fd0_add_artist_name_category_end_date_to_.py
Due: backend

Add missing initial migration file
  backend/alembic/versions/ff6c8a0c2122_initial_schema_setup.py
Due: backend

Make initial migration idempotent for enum types
  backend/alembic/versions/ff6c8a0c2122_initial_schema_setup.py
Due: backend

fix: resolve test infrastructure issues - 380 tests passing
  KNOWN_ISSUES.md
  backend/config/settings.py
Due: backend

frontend and backend code quality should pass now
  backend/config/settings.py
  backend/tests/e2e/e2e_test_helper.py
  backend/tests/e2e/test_complete_flow.py
  backend/tests/integration/test_artworks_api.py
  backend/tests/integration/test_bids_api.py
  backend/tests/integration/test_rate_limiting.py
  backend/tests/unit/test_auction_service.py
  backend/tests/unit/test_errors.py
  frontend/src/test/unit/apiServices.test.js
Due: backend

updated dependabot.yml to force check in 15 minutes
  .github/dependabot.yml
Due: none

docs: add comprehensive project documentation
  ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  KNOWN_ISSUES.md
  README.md
  TEST_FIX_PLAN.md
  backend/tests/e2e/e2e_test_helper.py
  backend/tests/integration/test_bids_api.py.bak
Due: none

Path conditions:
  backend: any of: backend/, but not: **/*test*.py, **/*test*.js, **/*test*.jsx, **/*test*.ts, **/*test*.tsx, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.test.ts, **/*.test.tsx, **/__tests__/**, **/tests/**, **/node_modules/**, **/venv/**, **/.venv/**
  frontend: any of: frontend/, but not: **/*test*.py, **/*test*.js, **/*test*.jsx, **/*test*.ts, **/*test*.tsx, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.test.ts, **/*.test.tsx, **/__tests__/**, **/tests/**, **/node_modules/**, **/venv/**, **/.venv/**
