Repository MortenBeck/guess-the-worth: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

gh actions 6
  backend/routers/users.py
Due: backend

feat: implement complete Stripe payment integration (Phases 1-3) - payment models, endpoints, and frontend modal with Stripe Elements
  STRIPE_PROGRESS.md
  backend/alembic/versions/4abe05ed05b4_add_payments_table_and_pending_payment_.py
  backend/config/settings.py
  backend/main.py
  backend/routers/bids.py
  backend/routers/payments.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PaymentModal.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/services/paymentService.js
Due: backend, frontend

fix: resolve merge conflict - integrate Stripe payment with Auth0 migration
  backend/models/__init__.py
Due: backend

fix: remove all hardcoded data and use live database content
  frontend/src/components/home/LiveAuctions.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/services/api.js
Due: frontend

chore: update seeding scripts with real Auth0 users and complete cleanup tasks
  AUTH0_DEPLOYMENT_STATUS.md
  AUTH0_MIGRATION_GUIDE.md
  backend/alembic/versions/c3e5f7a8b2d1_add_password_hash_to_users.py
  backend/seeds/demo_artworks.py
  backend/seeds/demo_bids.py
  backend/seeds/demo_users.py
Due: backend

actions fix 1
  frontend/src/services/api.js
  frontend/src/test/unit/apiServices.test.js
Due: frontend

actions fix 2
  backend/alembic/versions/dfc9a87acd81_remove_user_fields_use_auth0.py
Due: backend

actions fix 3
  backend/alembic/versions/4abe05ed05b4_add_payments_table_and_pending_payment_.py
Due: backend

actions fix 4
  frontend/src/test/unit/apiServices.test.js
Due: none

actions fix 5
  backend/models/payment.py
  backend/tests/e2e/test_complete_flow.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_bids_api.py
  backend/tests/integration/test_websocket.py
  backend/tests/unit/test_seeds.py
Due: backend

actions fix 6
  backend/schemas/payment.py
  backend/services/stripe_service.py
Due: backend

actions fix 7
  backend/tests/integration/test_payments_api.py
  backend/tests/unit/test_stripe_service.py
Due: none

actions fix 8
  backend/tests/integration/test_payments_api.py
Due: none

actions fix 9
  backend/alembic/versions/4abe05ed05b4_add_payments_table_and_pending_payment_.py
  backend/config/settings.py
  backend/models/__init__.py
  backend/models/payment.py
  backend/routers/payments.py
  backend/schemas/payment.py
  backend/services/stripe_service.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_payments_api.py
  backend/tests/unit/test_seeds.py
  backend/tests/unit/test_stripe_service.py
  frontend/src/components/PaymentModal.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/services/api.js
  frontend/src/services/paymentService.js
Due: backend, frontend

updated Auth0 role handling - should fix role issues in frontend
  frontend/src/components/AdminRoute.jsx
  frontend/src/services/api.js
  frontend/src/store/authStore.js
  frontend/src/test/unit/authStore.test.js
Due: frontend

frontend tests updated for recent changes
  frontend/src/test/unit/apiServices.test.js
Due: none

Removed circular dependency in ArtworkPage.jsx that caused site to not load
  frontend/package-lock.json
  frontend/src/pages/ArtworkPage.jsx
Due: frontend

bidding should work now
  frontend/src/components/ImageUpload.jsx
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/pages/ArtworkPage.jsx
Due: frontend

updated error handlers in frontend to pass strings to the toaster correctly
  frontend/src/components/ImageUpload.jsx
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/ProfilePage.jsx
Due: frontend

Fixed onSuccess handler and payment_required event handler
  frontend/src/pages/ArtworkPage.jsx
Due: frontend

ran prettier
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .vscode/launch.json
  ARCHITECTURE.md
  AUTH0_DEPLOYMENT_STATUS.md
  AUTH0_MIGRATION_GUIDE.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  STRIPE_INTEGRATION_PLAN.md
  STRIPE_PROGRESS.md
  backend/seeds/AZURE_SEEDING.md
  docker-compose.yml
  frontend/coverage/base.css
  frontend/coverage/block-navigation.js
  frontend/coverage/coverage-final.json
  frontend/coverage/index.html
  frontend/coverage/lcov-report/base.css
  frontend/coverage/lcov-report/block-navigation.js
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/prettify.css
  frontend/coverage/lcov-report/prettify.js
  frontend/coverage/lcov-report/sorter.js
  frontend/coverage/prettify.css
  frontend/coverage/prettify.js
  frontend/coverage/sorter.js
  frontend/e2e/bug-6.1-navbar.spec.js
  frontend/e2e/bug-6.2-auth-persistence.spec.js
  frontend/e2e/bug-6.3-view-details.spec.js
  frontend/e2e/bug-6.4-dashboard-activity-button.spec.js
  frontend/e2e/navbar.spec.js
  frontend/eslint.config.js
  frontend/playwright.config.js
  frontend/server.cjs
  frontend/src/pages/ArtworkPage.jsx
  frontend/vite.config.js
  frontend/vitest.config.js
  health-dashboard.html
Due: backend, frontend

Fix bidding screen crash and socket disconnection issues
  frontend/src/App.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/services/socket.js
Due: frontend

frontend code quality
  frontend/src/components/ImageUpload.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/hooks/useRealtimeBids.js
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/ProfilePage.jsx
  frontend/src/services/socket.js
Due: frontend

Add missing toaster-instance.js file
  frontend/src/components/ui/toaster-instance.js
Due: frontend

Fix bid error handling and socket reconnection issues
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/services/socket.js
Due: frontend

ran prettier
  frontend/src/pages/ArtworkPage.jsx
Due: frontend

testing
  frontend/src/App.jsx
  frontend/src/main.jsx
Due: frontend

ran linting and prettier
  frontend/src/main.jsx
Due: frontend

Fix: Wrap socket emit calls in error handling to prevent CORS failures
  backend/routers/bids.py
Due: backend

codecov update
  backend/tests/integration/test_bids_api.py
Due: none

fix: patch 7 critical dependency vulnerabilities
  CHANGELOG.md
  SECURITY.md
  backend/requirements.txt
Due: backend

fix: use live database stats on homepage instead of hardcoded data
  frontend/src/components/home/QuickStats.jsx
  frontend/src/services/api.js
Due: frontend

fix: use live database stats on homepage instead of hardcoded data
  frontend/coverage/base.css
  frontend/coverage/block-navigation.js
  frontend/coverage/coverage-final.json
  frontend/coverage/index.html
  frontend/coverage/lcov-report/base.css
  frontend/coverage/lcov-report/block-navigation.js
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/prettify.css
  frontend/coverage/lcov-report/prettify.js
  frontend/coverage/lcov-report/sorter.js
  frontend/coverage/lcov.info
  frontend/coverage/prettify.css
  frontend/coverage/prettify.js
  frontend/coverage/sorter.js
  frontend/src/components/home/QuickStats.jsx
  frontend/src/test/unit/apiServices.test.js
Due: frontend

fix: handle None values in current_highest_bid to prevent 500 errors on winning bids
  AUTH0_DEPLOYMENT_STATUS.md
  AUTH0_MIGRATION_GUIDE.md
  STRIPE_INTEGRATION_PLAN.md
  STRIPE_PROGRESS.md
  backend/models/artwork.py
  backend/routers/bids.py
Due: backend

added backend/alembic/versions/be98e4538f5c_make_current_highest_bid_non_nullable.py
  backend/alembic/versions/be98e4538f5c_make_current_highest_bid_non_nullable.py
Due: backend

ran bandit and backend cq
  backend/config/settings.py
  backend/models/artwork.py
  backend/models/payment.py
  backend/routers/artworks.py
  backend/seeds/demo_artworks.py
  backend/seeds/seed_manager.py
  backend/start.py
  backend/tests/integration/test_audit_logging.py
  backend/tests/integration/test_auth_fixes.py
  backend/tests/integration/test_payments_api.py
  backend/tests/integration/test_rate_limiting.py
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_errors.py
  backend/tests/unit/test_schemas.py
  backend/tests/unit/test_stripe_service.py
  backend/utils/__init__.py
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/*test*.py, **/*test*.js, **/*test*.jsx, **/*test*.ts, **/*test*.tsx, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.test.ts, **/*.test.tsx, **/__tests__/**, **/tests/**, **/node_modules/**, **/venv/**, **/.venv/**
  frontend: any of: frontend/, but not: **/*test*.py, **/*test*.js, **/*test*.jsx, **/*test*.ts, **/*test*.tsx, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.test.ts, **/*.test.tsx, **/__tests__/**, **/tests/**, **/node_modules/**, **/venv/**, **/.venv/**
