Repository MortenBeck/guess-the-worth: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  frontend:
    paths:
      - frontend/
    carryforward: false

ignore:
  - "**/*test*.py"
  - "**/*test*.js"
  - "**/*test*.jsx"
  - "**/*test*.ts"
  - "**/*test*.tsx"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/venv/**"
  - "**/.venv/**"

added .flake8
  .flake8
Due: none

updated start.py and deployment workflow to run alembic migrations on deployment
  .github/workflows/deploy-azure.yml
  backend/start.py
Due: backend

backend security should pass
  backend/start.py
Due: backend

ran backend cq
  README.md
Due: none

Fix payment integration and add digital wallet support
  backend/services/stripe_service.py
  frontend/src/components/PaymentModal.jsx
  frontend/src/services/paymentService.js
Due: backend, frontend

Add Azure deployment files to gitignore and update dependencies
  .gitignore
  package-lock.json
Due: none

created implementation plan for frontend/payment issues
  README.md
Due: none

created implementation plan for frontend/payment issues
  frontend_issues.md
Due: none

Implement comprehensive payment flow fixes and dashboard improvements
  backend/routers/payments.py
  backend/tests/integration/test_payments_api.py
  frontend/src/components/PaymentModal.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/UserDashboard.jsx
Due: backend, frontend

added backend tests. codecov should pass now as well
  backend/tests/integration/test_payments_api.py
  backend/tests/unit/test_stripe_service.py
Due: none

codecov attempt 1
  backend/tests/unit/test_stripe_service.py
Due: none

ran prettier and flake8
  backend/services/stripe_service.py
  frontend/src/components/PaymentModal.jsx
  frontend/src/pages/ArtworkPage.jsx
Due: backend, frontend

stripe integration
  README.md
  backend/main.py
  backend/routers/bids.py
  backend/routers/payments.py
  backend/services/auth_service.py
  backend/utils/auth.py
  frontend/src/App.jsx
  frontend/src/components/PaymentModal.jsx
  frontend/src/pages/ArtworkPage.jsx
Due: backend, frontend

fix: implement payment page redirect and resolve CI errors
  backend/routers/bids.py
  backend/utils/auth.py
  backend/utils/stripe_validator.py
  frontend/src/pages/PaymentPage.jsx
  frontend/src/utils/stripeConfig.js
Due: backend, frontend

Ci issues
  backend/routers/bids.py
  backend/utils/auth.py
  frontend/src/App.jsx
  frontend/src/pages/PaymentPage.jsx
  frontend/src/utils/stripeConfig.js
Due: backend, frontend

fix: resolve all CI errors and improve code coverage
  backend/tests/test_stripe_validator.py
Due: none

fix: resolve all CI errors with 96% test coverage
  backend/tests/test_stripe_validator.py
Due: none

resolve flake8 errors and mock Stripe in payment tests
  backend/tests/integration/test_payments_api.py
  backend/tests/test_stripe_validator.py
Due: none

resolve flake8 errors and mock Stripe in payment tests
  backend/tests/integration/test_payments_api.py
  backend/tests/test_auth.py
Due: none

resolve flake8 errors and mock Stripe in payment tests
  backend/tests/test_stripe_validator.py
Due: none

resolve flake8 errors and mock Stripe in payment tests
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_payments_router.py
Due: none

test_create_payment_intent_stripe_not_configured
  backend/tests/integration/test_payments_api.py
Due: none

chore: remove outdated and redundant documentation files
  .vscode/launch.json
  README.md
  backend/.env.template
  backend/.trigger
  frontend.env
  frontend_issues.md
Due: backend

docs: rewrite README as professional project documentation
  README.md
Due: none

fix: replace payment route navigation with PaymentModal
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/utils/stripeConfig.js
Due: frontend
