Repository MortenBeck/guess-the-worth: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  frontend:
    paths:
      - frontend/
    carryforward: false

ignore:
  - "**/*test*.py"
  - "**/*test*.js"
  - "**/*test*.jsx"
  - "**/*test*.ts"
  - "**/*test*.tsx"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/venv/**"
  - "**/.venv/**"

docs: update README to reflect completed documentation
  README.md
Due: none

fix: add HEAD method support to health endpoints for UptimeRobot monitoring
  backend/routers/health.py
Due: backend

Updated documentation
  ARCHITECTURE.md
  CHANGELOG.md
Due: none

fix: resolve security vulnerabilities and deprecation warnings
  KNOWN_ISSUES.md
  backend/config/settings.py
  backend/main.py
  backend/models/base.py
  backend/routers/admin.py
  backend/routers/artworks.py
  backend/schemas/artwork.py
  backend/schemas/bid.py
  backend/schemas/user.py
  backend/services/auction_service.py
  backend/services/jwt_service.py
  backend/tests/integration/test_artworks_api.py
Due: backend

creating pr to fix rollback gh actions error
  README.md
Due: none

Delete frontend/playwright-report directory
  frontend/playwright-report/index.html
Due: frontend

rollback fix attempt 1
  backend/alembic/versions/ff6c8a0c2122_initial_schema_setup.py
Due: backend

all gh actions should pass now
  README.md
  backend/config/settings.py
  backend/routers/admin.py
  backend/routers/artworks.py
  backend/schemas/artwork.py
  backend/services/auction_service.py
  backend/services/jwt_service.py
  backend/tests/integration/test_artworks_api.py
Due: backend

Added seeding scripts for both development and production
  README.md
Due: none

feat: add database seeding system with idempotent seed scripts
  backend/seeds/AZURE_SEEDING.md
  backend/seeds/__init__.py
  backend/seeds/demo_artworks.py
  backend/seeds/demo_bids.py
  backend/seeds/demo_users.py
  backend/seeds/seed_manager.py
Due: backend

test: add comprehensive tests for database seeding system
  backend/seeds/demo_artworks.py
  backend/seeds/demo_bids.py
  backend/tests/unit/test_seeds.py
Due: backend

style: apply Black formatting to seed scripts
  backend/seeds/demo_bids.py
  backend/seeds/demo_users.py
  backend/seeds/seed_manager.py
Due: backend

style: fix flake8 linting issues in seed scripts
  backend/seeds/demo_artworks.py
  backend/seeds/seed_manager.py
Due: backend

style: apply Black formatting to demo_artworks.py
  backend/seeds/demo_artworks.py
Due: backend

codecov should pass now
  backend/.coveragerc
  backend/tests/unit/test_seeds.py
Due: backend

backend code quality
  backend/tests/unit/test_seeds.py
Due: none

feat: add API endpoint for production database seeding
  backend/routers/admin.py
  backend/seeds/AZURE_SEEDING.md
  backend/seeds/seed_production.sh
Due: backend

feat: add Stripe payment models, schemas and service layer
  STRIPE_INTEGRATION_PLAN.md
  STRIPE_PROGRESS.md
  backend/config/settings.py
  backend/models/__init__.py
  backend/models/artwork.py
  backend/models/bid.py
  backend/models/payment.py
  backend/schemas/__init__.py
  backend/schemas/payment.py
  backend/services/stripe_service.py
Due: backend

test: add comprehensive tests for seed-database endpoint
  backend/tests/integration/test_admin_api.py
Due: none

test: add error handling test for seed-database endpoint
  backend/tests/integration/test_admin_api.py
Due: none

style: apply Black formatting to test_admin_api.py
  backend/tests/integration/test_admin_api.py
Due: none

feat: add email/password login endpoint for demo users
  backend/routers/auth.py
  backend/seeds/demo_users.py
  backend/utils/auth.py
Due: backend

covecov should pass now
  backend/seeds/demo_users.py
Due: backend

test: improve code coverage to 98.35% with comprehensive auth tests
  backend/alembic/versions/c3e5f7a8b2d1_add_password_hash_to_users.py
  backend/models/user.py
  backend/tests/integration/test_auth_api.py
  backend/tests/unit/test_utils_auth.py
Due: backend

style: apply Black formatting and fix flake8 linting issues
  backend/tests/integration/test_auth_api.py
  backend/tests/unit/test_utils_auth.py
Due: none

feat: add bootstrap token for initial database seeding
  backend/routers/admin.py
  backend/seeds/seed_production.sh
Due: backend

feat: add hardcoded superadmin for bootstrap access
  backend/routers/auth.py
  backend/seeds/seed_production.sh
  backend/utils/auth.py
Due: backend

feat: add API endpoint to run database migrations
  backend/routers/admin.py
Due: backend

fix: simplify hardcoded admin password
  backend/routers/auth.py
  backend/seeds/seed_production.sh
Due: backend

Add stamp-migrations endpoint to mark database at specific revision
  backend/routers/admin.py
Due: backend

Make migrations idempotent to handle partial runs
  backend/alembic/versions/b2d54a525fd0_add_artist_name_category_end_date_to_.py
  backend/alembic/versions/c3e5f7a8b2d1_add_password_hash_to_users.py
Due: backend

Fix CVE-2025-13466 by updating npm in Docker image
  backend/Dockerfile
Due: backend

Revert broken npm update and suppress CVE-2025-13466 as false positive
  backend/.trivyignore
  backend/Dockerfile
  frontend/.trivyignore
Due: backend, frontend

Migrate to Auth0 for centralized authentication and user management
  AUTH0_MIGRATION_GUIDE.md
  CHANGELOG.md
  KNOWN_ISSUES.md
  backend/alembic/versions/dfc9a87acd81_remove_user_fields_use_auth0.py
  backend/models/__init__.py
  backend/models/user.py
  backend/routers/admin.py
  backend/routers/artworks.py
  backend/routers/auth.py
  backend/schemas/user.py
  backend/seeds/demo_artworks.py
  backend/seeds/demo_bids.py
  backend/seeds/demo_users.py
  backend/services/auth_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_artworks_api.py
  backend/tests/integration/test_auth_api.py
  backend/tests/integration/test_auth_fixes.py
  backend/tests/integration/test_bids_api.py
  backend/tests/integration/test_image_upload.py
  backend/tests/integration/test_migrations.py
  backend/tests/integration/test_stats.py
  backend/tests/integration/test_users_api.py
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_schemas.py
  backend/tests/unit/test_seeds.py
  backend/utils/auth.py
Due: backend

gh actions
  backend/alembic/versions/dfc9a87acd81_remove_user_fields_use_auth0.py
  backend/models/user.py
  backend/schemas/user.py
  backend/seeds/demo_users.py
  backend/tests/integration/test_bids_api.py
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_schemas.py
  backend/tests/unit/test_utils_auth.py
Due: backend

gh actions 2
  backend/seeds/demo_bids.py
  backend/tests/unit/test_seeds.py
Due: backend

gh actions 3
  backend/tests/conftest.py
  backend/tests/integration/test_auth_api.py
  backend/tests/integration/test_rate_limiting.py
  backend/tests/integration/test_users_api.py
  backend/tests/unit/test_schemas.py
Due: none

gh actions 4
  backend/routers/users.py
  backend/services/auth_service.py
  backend/tests/e2e/test_complete_flow.py
  backend/tests/integration/test_users_api.py
  backend/tests/unit/test_auth_service.py
Due: backend

gh actions 5
  backend/routers/users.py
Due: backend
