Repository MortenBeck/guess-the-worth: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  frontend:
    paths:
      - frontend/
    carryforward: false

ignore:
  - "**/*test*.py"
  - "**/*test*.js"
  - "**/*test*.jsx"
  - "**/*test*.ts"
  - "**/*test*.tsx"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/venv/**"
  - "**/.venv/**"

fix: skip TruffleHog secret scan on main branch to prevent same-commit error
  .github/workflows/backend-ci.yml
Due: none

fix: downgrade Codecov to v3 and fix frontend TruffleHog
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: updated covecov config to bypass GPG verification in CI
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

security testing 1
  README.md
Due: none

fix: configure docker-compose for development with builder stages
  docker-compose.yml
Due: none

chore: trigger frontend trivy rescan
  frontend/.trigger
Due: frontend

chore: trigger backend trivy rescan
  backend/.trigger
Due: backend

security: update trivy to fail on MEDIUM, add security policy and dependabot
  .github/dependabot.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  SECURITY.md
Due: none

security: enhance security scanning and add security policy
  backend/.trivyignore
Due: backend

security: add CVE-2025-59375 to trivyignore
  backend/.trivyignore
Due: backend

fix: remove custom labels from dependabot config
  .github/dependabot.yml
Due: none

chore(deps): update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Change Dependabot update interval to daily
  .github/dependabot.yml
Due: none

Update Dependabot schedule time
  .github/dependabot.yml
Due: none

updated package-lock.json
  frontend/package-lock.json
Due: frontend

Fix Docker and CI version compatibility for Azure deployment
  .github/workflows/backend-ci.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: backend, frontend

Fix Azure deployment failures for frontend and backend
  .github/workflows/deploy-azure.yml
  AZURE_ENV_SETUP.md
  backend/Dockerfile
  backend/start.py
  frontend/.deployment
Due: backend, frontend

deleted md file
  AZURE_ENV_SETUP.md
  package-lock.json
Due: none

Fix CI/CD checks for start.py
  backend/pyproject.toml
  backend/start.py
Due: backend

Remove unused sys import from start.py
  backend/start.py
Due: backend

Switch frontend deployment to Docker images
  .github/workflows/deploy-azure.yml
  frontend/.deployment
Due: frontend

Fix Docker images to use slim/alpine instead of distroless
  backend/Dockerfile
  frontend/Dockerfile
Due: backend, frontend

Fix Docker build and Trivy security scan issues
  backend/.trivyignore
  backend/Dockerfile
  frontend/Dockerfile
Due: backend, frontend

Fix remaining Trivy security vulnerabilities
  backend/.trivyignore
  backend/Dockerfile
Due: backend

Upgrade system pip in production stage to fix CVE-2025-8869
  backend/Dockerfile
Due: backend

Upgrade npm to fix CVE-2024-21538 and CVE-2025-64756
  frontend/Dockerfile
Due: frontend

Add trivyignore for npm bundled glob CVE-2025-64756
  frontend/.trivyignore
Due: frontend

Configure Trivy to use frontend/.trivyignore file
  .github/workflows/frontend-ci.yml
Due: none

Fix frontend server to bind to 0.0.0.0 for Docker
  frontend/server.cjs
Due: frontend

Fix frontend Docker container startup issues
  frontend/Dockerfile
  frontend/server.cjs
Due: frontend

created implementation plan for current security vulnerabilities, data pileline, and hardcoded data
  ANALYSIS_SUMMARY.md
  DOCUMENTATION_VERIFICATION.md
  IMPLEMENTATION_PLAN.md
  README.md
  SECURITY.md
Due: none

feat: implement Stage 0 - Environment Security Setup
  README.md
  backend/.env.example
  backend/config/settings.py
  docker-compose.yml
  frontend/.env.example
Due: backend, frontend

feat: implement Stage 1 - Backend Authentication & Authorization Fixes
  backend/main.py
  backend/routers/artworks.py
  backend/routers/auth.py
  backend/routers/bids.py
Due: backend

stage 1 implemented
  backend/main.py
  backend/routers/artworks.py
  backend/routers/auth.py
  backend/routers/bids.py
Due: backend

feat: implement Stage 2 - Database Schema Improvements & Migrations
  backend/alembic/env.py
  backend/alembic/versions/b2d54a525fd0_add_artist_name_category_end_date_to_.py
  backend/models/artwork.py
  backend/models/bid.py
  backend/schemas/artwork.py
  backend/schemas/bid.py
Due: backend

feat: implement Stage 3 - Frontend API Integration - Core CRUD
  frontend/src/App.jsx
  frontend/src/components/home/QuickStats.jsx
  frontend/src/pages/AddArtworkPage.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/pages/ArtworksPage.jsx
  frontend/src/services/api.js
Due: frontend

feat: implement Stage 4 - Backend API Completion - Missing Endpoints
  backend/main.py
  backend/routers/artworks.py
  backend/routers/stats.py
  backend/routers/users.py
  backend/services/auction_service.py
Due: backend

Implemented stage 5
  frontend/src/components/home/QuickStats.jsx
  frontend/src/pages/ProfilePage.jsx
  frontend/src/pages/SellerDashboard.jsx
  frontend/src/pages/UserDashboard.jsx
  frontend/src/services/api.js
Due: frontend

stage 6 implemented
  frontend/src/components/ImageUpload.jsx
  frontend/src/pages/AddArtworkPage.jsx
Due: frontend

stage 7 implemented
  backend/routers/bids.py
  frontend/src/App.jsx
  frontend/src/components/SocketStatus.jsx
  frontend/src/hooks/useRealtimeBids.js
  frontend/src/main.jsx
  frontend/src/pages/ArtworkPage.jsx
  frontend/src/services/socket.js
Due: backend, frontend
